header {
  background-color: var(--nude);
}
.top-section {
  width: 100%;
  background-image: linear-gradient(var(--nude), white);;
}
.nav-link {
color: var(--navy);
}
.section-aboutme{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 3rem;
  margin: auto;
  max-width: 120rem;
  padding: 5rem 0 5rem 0;
}

.section-aboutme img{
  width:100%;
}
.I-am-Emma p {
  line-height: 1.5;
  font-size: 2.2rem;

padding-right: 2rem;
padding-left: 2rem;
}

.hi-glad {
  font-family: 'Playfair Display', serif;
  font-size: 7.5rem;
  color: var(--navy);
  margin-left: 2rem;
  margin-right: 2rem;
  line-height: 7.3rem;


}
.hi-story {
  padding-top:3.5rem;
  font-family: 'Playfair Display', serif;
  font-size: 7.5rem;
  color: var(--gold);

}
.me-pic{
  margin-right:2rem;
  margin-left:2rem;
}
.I-am-Emma p{
  font-size: 3rem;
}

.tldr {
  margin-right:2rem;
  margin-left:2rem;
}
@media screen and (max-width:910px) {
  .hi-glad {
    font-size: 6.5rem;
    text-align: center;
  }
  .hi-story{
    font-size: 6.5rem;
    text-align: center;
  }
  .section-aboutme{
    display: grid;
    grid-template-columns: 1fr;
  }
}
