
html {
  font-size: 10px;
}
/* Typography */
project-name {
 color: #333333;
 font-family: 'Playfair Display', serif;
 font-size: 6em;
 line-height: 1rem;
}

h1 {
 color: #333333;
 font-family: 'nunito', sans-serif;
 font-size: 3.7rem;
 font-weight: 300;
 text-transform: uppercase;
 letter-spacing: .06rem;
 padding:2rem 0 0 0;

}

h3 {
 color: #2183E2;
 font-family: 'Nunito', sans-serif;
 font-size: 2.1rem;
 text-transform: uppercase;
 font-weight: 300;
 padding: 0 0 .7rem 0;

 letter-spacing: .08rem;
}

h2 {
 color: #333333;
 font-family: 'Playfair Display', serif;
 font-size: 3.8rem;
 line-height: normal;
 letter-spacing: .08rem;
}
h4 {
  color: #2EA263;
  /*
 color: #EE6868;*/
 font-size: 3.1rem;
 line-height: 2rem;
}

h2, h3, h4 {
 /*max-width: 300px;*/
 margin: 0 0 0 0;
}

p, ul, ol {
 color: #333333;
 font-family: 'Nunito', sans-serif;
font-size: 1.8rem;
 font-weight: 300;
 max-width: 800px;
 line-height: 3rem;
 letter-spacing: .06rem;

}

.img-caption{
  color: #333333;
  font-family: 'Nunito', sans-serif;
 font-size: 1.4rem;
  font-weight: 300;
  line-height: 3rem;
  letter-spacing: .06rem;
  text-align: center;
  padding-top: 1.2rem;
}


.section-wide {
  display: grid;
  padding: 3rem 0 0 0;
  max-width: 100rem;
  margin: auto;
  align-items: center;


}
/* Buttons */

a {
  text-decoration: none;
}

.button {
  display: inline-block;
  cursor: pointer;
  width: 30rem;
  color: #FFF;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  white-space: nowrap;
  background-color: #2EA263;
  border: 0.2rem solid #2EA263;
  border-radius: 4rem;
  /*box-shadow: 0 .2rem 1rem rgba(0, 0, 0, 0.16), 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1);*/
  transition: .7s ease-in-out;
  margin-right: 2rem;
  font-family: 'nunito', sans-serif;
  letter-spacing: .08rem;
}


.button:hover {
  color: #FFF;
  background-color: #2EA263;
  transition: .7s ease-in-out;
}

.contact-button {
  display: inline-block;
  cursor: pointer;
  width: 70%;
  color: #2EA263;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  white-space: nowrap;
  background-color: transparent;
  border: 0.2rem solid #2183E2;
  border-radius: 4rem;
  /*box-shadow: 0 .2rem 1rem rgba(0, 0, 0, 0.16), 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1);*/
  transition: .7s ease-in-out;
  margin: 1rem;
  font-family: 'nunito', sans-serif;
  letter-spacing: .08rem;
}

.contact-button:hover {
  background-color: #2EA263;
  color: #FFF;
  transition: 0.5s ease-in-out;
  border-color: #2EA263;
  box-shadow: 0 .2rem 1rem rgba(0, 0, 0, 0.16), 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1);
}
.center-btns{
  text-align: center;

  padding-bottom: 2rem;
}





.button, .contact-button {
  padding: 1.5rem 0;
  font-size: 1.8rem;
}


.button {
  background-color: transparent;
color: #2EA263;
  box-shadow: none;
  margin: 1rem;
}



/* NO MEDIA QUERIES FOR TABLET */




footer {
  background-color: #579C9E;
  grid-column: 1 / -1;
  margin: 0;
  padding: 4rem;
  text-align: center;
}

footer p {
  color: #FFF;
}

.social-links a {
  padding: 0 0.6rem;
  color: #FFF;
  transition: 0.3s ease-in-out;
}

.social-links a:hover {
  color: #2183E2;
  transition: 0.3s ease-in-out;
}

footer p {
  font-size: 1.7rem
}


@media screen and (min-width:1224px)

{
.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10rem;
}
}
/* End Footer */


@media screen and (min-width:530px){
  .contact-button {
    margin: 1rem;
    width:30rem;
  }

}
