* {
  box-sizing: border-box;
}



body {
  /* margin: 0 auto; */
  font-family: 'Nunito', sans-serif;
}
.section {
 display: grid;
 /*grid-template-columns: 2fr 4fr;*/
 padding: 3rem 0;
 max-width: 120rem;
 margin: auto;
 justify-content: center;
}

.design-roles {
  display: grid;
grid-template-columns: 1fr 1fr 1fr;
max-width: 100rem;
grid-gap: 5rem;

}


.gradient {
  width: 100%;
  padding-bottom: 1rem;
  background-color: #2183E2;
  margin: 0 0 10rem 0;
/*background-image: linear-gradient(#FDF5F3, #FFFFFF);*/

}


.titles {
  display: block;
  color: #333333;
  font-family: 'nunito', sans-serif;
  max-width: 100rem;
  margin: auto;
  padding: 2rem; 0 4rem 0;
}

.competitive-analysis{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 100rem;
  grid-gap: 5rem;
  align-items: center;
  justify-content: center;
  padding: 0rem 0 3rem; 0;
  margin: auto;
}

.images {
  display: grid;
  /*grid-template-columns: 2fr 4fr;*/
  max-width: 120rem;
  margin: auto;
  justify-content: center;
}

.top-section {
  padding: 3rem 0 8rem 0;
  display: block;
  /*grid-template-columns: 2fr 4fr;*/
  max-width: 100rem;
  margin: auto;
}
.hero {
  display: grid;
  /*grid-template-columns: 1fr 1fr;*/
  grid-gap: 2rem;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  /*margin-bottom: 10rem;*/
  justify-content: center;
}


.words {
  display: block;
text-align: center;
  max-width: 800px;
}

.competitive-analysis-img {
  align-items: center;
  justify-content: center;

}

/*USER STORIES*/
.user-stories{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 80rem;
  grid-gap: 5rem;
  align-items: center;
  justify-content: center;
  padding: 3rem 0 0 0;
}
.girl1{
text-align: center;
}
.boy1 {
text-align: center;
}
.boy2 {
text-align: center;
}
.girl2 {
text-align: center;
}

.user-flows{
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100rem;
  grid-gap: 10rem;
  align-items: center;
  justify-content: center;
  padding: 3rem 0 3rem 0;
  margin: auto;
}

/*PERSONAS*/
#personas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100rem;
  grid-gap: 6rem;
  justify-content: center;
}

#persona-name {
  display: block;
  justify-content: center;

}

#david {
  /*border: .1rem solid #6DAD95;*/
  padding: 2rem 2rem 2rem 2rem;

}

#sara {
  /*border: .1rem solid #6DAD95;*/
  padding: 2rem 2rem 2rem 2rem;
}

.quote {
  border-left: 2px
  solid #f76252;
  padding-left: 2rem;
  color: #f76252;
  font-weight:600;
  font-family: 'Nunito', sans-serif;
  font-size: 1.8rem;
  max-width: 800px;
  line-height: 3rem;
  margin: 0 0 2rem;
}

.persona-titles {
  color: #333333;
  font-family: 'Nunito', sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  text-transform: uppercase;
/*text-decoration: underline;*/
}
.section-personas {
  display: grid;
  /*grid-template-columns: 2fr 4fr;*/
  max-width: 120rem;
  margin: auto;
  justify-content: center;
}

/*SURVEYS*/

.surveys {
  max-width: 100rem;
  margin: 3rem;
  background-color: #333333;
}

.text-box {
  border: .1rem solid #FDE8E5;
  padding: 2rem;
  width:90%;
align-items: center;
justify-content: center;
margin: auto;


}

.text-color p{
  color: #FFF;
}

.text-color li{
  color: #FFF;
}

.text-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100rem;
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  margin: 0 0 4rem 0;
}

.text-section1{
  display: block;
  width: 60rem;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  margin: auto;
}

.pie-chart1 {
  width: 50%;
  margin: 0 10rem 0 0;
  justify-content: center;
  align-items: center;
}


.pie-charts{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  width: 50%;
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
margin: 4rem 10rem 0 10rem;

  align-content: stretch;
}
.pie-chart-text p{
  color: #FFF;

}

.test {
align: center;
