* {
  box-sizing: border-box;
}

body {
 margin: 0 auto;
  font-family: 'nunito', sans-serif;
  background: var(--nude);
}

.section {
  display: grid;
  padding: 4rem 0 0rem 0;
  max-width: 80rem;
  margin: auto;
  /*justify-content: center;*/
}

.section-title {
  display: grid;
  max-width: 64rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin: auto;
  /*justify-content: center;*/
}

/*  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.1);
*/
.background-assemble-header {
  background-color: #2183E2;
  width: 100%;
  height: auto;
  padding-bottom: 1rem;
  /*background: url("../images/assemble-background.jpg");*/
  margin: 0 0 4rem 0;
  /*background-image: linear-gradient(#FDF5F3, #FFFFFF);*/
}

.case-study-screens {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  justify-content: center;
  align-items: center;
  grid-gap: .5rem;
  max-width: 120rem;
}
.case-study-screens img{
  width: 100%;
}

.titles {
  display: block;
  color: var(--black);
  font-family: 'nunito', sans-serif;
  max-width: 100rem;
  margin: auto;
  padding: 2rem;
  margin-top: 6rem;
}

.competitive-analysis {
  display: grid;
  grid-gap: 5rem;
  padding: 0rem 2rem 0rem 2rem;
  margin: auto;
}

.images {
  display: grid;
  /*grid-template-columns: 2fr 4fr;*/
  max-width: 100rem;
  margin: auto;
  justify-content: center;
}

.top-section {
  padding: 8rem 0 8rem 0;
  display: block;
background-color: #2183E2;
 width: 100%;
  margin: auto;
  margin-bottom: 4rem;
}

.hero {
  display: grid;
  /*grid-template-columns: 1fr 1fr;*/
  grid-gap: 2rem;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  /*margin-bottom: 10rem;*/
  justify-content: center;
}

.words {
  display: block;
  text-align: center;
  max-width: 800px;
}
.competitive-analysis-img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
/*USER STORIES*/
.user-stories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5rem;
  justify-content: center;
  padding: 1rem 0 0 0;
}

.girl1 {
  text-align: center;
}

.boy1 {
  text-align: center;
}

.boy2 {
  text-align: center;
}

.girl2 {
  text-align: center;
}

.user-flows {
  width: 100%
}

/*PERSONAS*/
#persona-name {
  display: block;
  justify-content: center;
}

#david {
  /*border: .1rem solid #6DAD95;*/
  padding: 2rem 2rem 0rem 2rem;
}

#sara {
  /*border: .1rem solid #6DAD95;*/
  padding: 2rem 2rem 0rem 2rem;
}

.quote {
  border-left: 2px solid var(--gold);
  padding-left: 2rem;
  color: var(--gold);
  font-weight: 600;
  font-family: 'nunito', sans-serif;
  font-size: 1.8rem;
  max-width: 800px;
  line-height: 3rem;
  margin: 0 0 2rem;
}

.persona-titles {
  color: var(--black);
  font-family: 'nunito', sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  text-transform: uppercase;
  /*text-decoration: underline;*/
}

.section-personas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100rem;
  margin: auto;
}

.persona-section {
  display: grid;
  max-width: 64rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 3rem;
  background-color: var(--nude2);

}

/*SURVEYS*/
.surveys {
  background-color: var(--nude2);
}

.pie-charts {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 5rem;
  margin: 4rem 7rem 2rem;
}

.pie-chart-text p {
  color: var(--black);
}

.survey-percent {
  color: var(--gold);
  font-size: 3rem;
  font-weight: 300;
}

.text-box {
  display: grid;
  grid-template-columns: 1fr (repeat 7);
  border: .1rem solid var(--navy);
  padding: 2rem;
  align-items: center;
  justify-content: center;
  margin: 3rem 4rem 4rem 4rem;
}

.text-color p {
  color: var(--black);
}

.text-color li {
  color: var(--black);
}

.text-section {
  max-width: 100rem;
  grid-gap: 3rem;
  align-items: center;
  justify-content: center;
  margin: 0 0 4rem 0;
}

.text-section1 {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 80rem;
  align-items: center;
  justify-content: center;
  background-color: var(--nude2);
  margin: auto;
}

.percent-text {
  display: block;
  width: 50%
}

.pie-charts img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 40%;
}
/*.nude2-background{
  width:100%;
  background-color: var(--nude2);*/
}



/*END SURVEY*/
/*BRANDING*/
.creating-logo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5rem;
  align-items: center;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding:2rem;
  background-color: var(--nude2);
}

.creating-logo-steps {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5rem;
  align-items: center;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}

.golden-ratio {
  display: grid;
  grid-template-rows: 1fr .5fr 1fr .5fr 1fr;
  align-items: center;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.golden-ratio img {
  display: grid;
  grid-template-columns: 1fr .5fr 1fr .5fr 1fr;
  align-content: center;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/*USABILITY TESTING*/
.usability-1-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 4rem;
  margin: auto;
  max-width: 100rem;
}

.usability-1-2-img {
  margin: auto;
  padding-left: 2rem;
}

.before-after-with-arrow {
  display: grid;
  align-items: center;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.before-after-with-arrow-justify {
  display: grid;
  justify-content: center;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#arrow-right {
  padding: 1.5rem;
}

#arrow-down {
  padding: 1.8rem;
}

.uploading1 img {
  width: 100%;
}

.uploading2 img {
  width: 100%;
}

.wireframes img {
  width: 100%;
}

/*END USABILITY TESTING*/
@media screen and (max-width:1040px) {
  .before-after-with-arrow img {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .before-after-with-arrow-justify img {
    width: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@media screen and (max-width:999px) {
  .section {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .uploading-file {
    padding-bottom: 4rem;
  }

  .usability-1-2 {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    grid-gap: 4rem;
    margin: auto;
    max-width: 100rem;
  }

  .usability p {
    padding: 0;
  }

  .section-personas {
    display: grid;
    grid-template-columns: 1fr;
  }
  .persona-section{
    margin: auto;
  }

  .user-stories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 80rem;
    grid-gap: 5rem;
    justify-content: center;
    padding: 3rem 0 0 0;
  }

  .section-title {
    padding: 1rem 2rem 0 2rem;
  }

  .section-wide {
    margin: auto;
  }

  /*SURVEYS*/
  .surveys {
    margin-bottom: 8rem;

  }




  .usability-1-2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  /*.user-flows {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: .5fr;
  align-items: center;
  grid-gap: 2rem;
}*/
  .user-flows img {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.wireframes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
  max-width: 100rem;
  padding: 2rem 0 5rem 0;
  background-color: var(--nude2)
}

@media screen and (min-width:1000px) {
  #arrow-down {
    display: block;
  }

  #arrow-right {
    display: none;
  }

}

@media screen and (max-width:850px) {
  #arrow-down {
    display: block;
  }

  #arrow-right {
    display: none;
  }

  .wireframes {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5rem;


  }

  .golden-ratio {
    display: grid;
    grid-template-rows: 1fr .5fr 1fr .5fr 1fr;
    margin: auto;
  }

  .case-study-screens {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
  }

  .before-after-with-arrow {
    display: grid;
    grid-template-rows: 1fr .3fr 1fr;
  }

  .before-after-with-arrow-justify {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5rem;
  }

  .creating-logo {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .logo-sketches img {
    height: 70rem;
  }

  .mind-mapping img {
    height: 70rem;
  }
}

@media screen and (min-width:851px) {
  #arrow-down {
    display: none;
  }

  #arrow-right {
    display: block;
  }

  .competitive-analysis {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

  .golden-ratio {
    display: grid;
    grid-template-rows: 1fr .5fr 1fr .5fr 1fr;
    margin: auto;
  }

  .before-after-with-arrow {
    display: grid;
    grid-template-columns: 1fr .3fr 1fr;
  }

  .before-after-with-arrow-justify {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
  }
}

@media screen and (min-width:601px) {
  .design-roles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    max-width: 100rem;
    grid-gap: 2.5rem;
    text-align: center;
  }

  .deliverables {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    border-right: .1rem solid var(--black);
    border-left: .1rem solid var(--black);
  }

}

@media screen and (max-width:600px) {
  .design-roles {
    display: grid;
    grid-template-rows: .5fr 1fr 1fr;
    margin: auto;
    grid-gap: 2rem;
    text-align: center;
  }



  .pie-charts {
    display: grid;
    grid-template-columns: 1fr;
  }

  .words img {
    padding-bottom: 3rem;
  }
}
