.bonbid-bullet{
  padding-left: 2rem;
  padding-bottom:.5rem;
}

.section-wide {
  max-width: 120rem;
  margin: auto;
  align-items: center;
}
header {
  background-color: #4c2d57;
}
.nav-link {
color: #FFF;
}
.top-section {
  padding: 9rem 0 7rem 0;
  display: block;
background-color: #4c2d57;
 width: 100%;
  margin: auto;
}
.top-section p {
  padding-bottom:3rem;
}
.grid-columns-2 {
    display: grid;
    grid-gap: 3rem;
  }
.grid-columns-2 img {
  width: 100%;
  margin:auto;
}
.grid-columns-2{
  padding:3rem;
}
.quote p{
  border-left: 2px solid var(--gold);
  padding-left: 2rem;
  color: var(--gold);
  font-weight: 600;
  font-family: 'nunito', sans-serif;
  font-size: 2rem;
  max-width: 90rem;
  line-height: 2.85rem;
  margin: 2rem 0 2rem;
  font-style: italic;
}


.background-assemble-header {
  background-color: #4c2d57;
  width: 100%;
  height: auto;
  padding-bottom: 1rem;
  /*background: url("../images/assemble-background.jpg");*/
  margin: 0 0 4rem 0;
  /*background-image: linear-gradient(#FDF5F3, #FFFFFF);*/
}

.case-study-screens {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  justify-content: center;
  align-items: center;
  grid-gap: 2rem;
  max-width: 90rem;
}
.case-study-screens img{
  width: 100%;
}


.design-roles{
  padding: 3rem;
  background-color: var(--nude);
  box-shadow: 0px 0px 5px 0px rgba(222,222,223,1);
  border-radius:1rem;
}
.design-role-title{
  font-weight:400;
  color: var(--navy);
  font-size: 2.3rem;
}
.competitive-analysis {
  display: grid;
  grid-gap: 5rem;
  padding: 3rem;
  margin: auto;
}
.competitive-analysis-img {
  width:100%;
}
.nude2-background{
  width: 100%;
  background-color: var(--nude);
  margin:auto;
  margin-top:5rem;

  border-radius:1rem;
box-shadow: 0px 0px 5px 0px rgba(222,222,223,1);
}
.section-wide {
  max-width: 120rem;
  margin: auto;
  align-items: center;
}
/*PERSONAS*/
#persona-name {
  display: block;
  justify-content: center;
}

#david {

  padding: 3rem;
  background-color: var(--nude);
  box-shadow: 0px 0px 5px 0px rgba(222,222,223,1);
  border-radius:1rem;
}
#david li{
  margin-left: 5rem;
}


.persona-titles {
  color: var(--black);
  font-family: 'nunito', sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  text-transform: uppercase;
  /*text-decoration: underline;*/
}

.section-personas {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 90rem;
  margin: auto;
  grid-gap: 5rem;
}

.persona-section {
  padding-top:3em;
}
.words{
  text-align:center;
}
.persona-titles {
  color: var(--black);
  font-family: 'nunito', sans-serif;
  font-size: 2.2rem;
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom:1rem;
  /*text-decoration: underline;*/
}
#persona-name {
  font-size: 2.8rem;
  font-weight:500;
  padding-bottom:1rem;
}

/*MEDIA QUERIES*/
@media screen and (max-width:850px) {
.case-study-screens {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr;
}
}
@media screen and (min-width:851px) {


  .competitive-analysis {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.grid-columns-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  margin: auto;

}
}
@media screen and (min-width:651px) {
  .design-roles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    max-width: 120rem;
    grid-gap: 2.5rem;
    text-align: center;
  }

  .deliverables {
    padding-right: 2.5rem;
    padding-left: 2.5rem;

  }


}
@media screen and (max-width:650px) {
  .design-roles {
    display: grid;
    grid-template-rows: .5fr .5fr .5fr;
    margin: auto;
    grid-gap: 5rem;
    text-align: center;
  }
}
