a:hover {
  color: var(--gold);
}

.bonbid-bullet {
  padding-bottom: .5rem;
}

header {
  background-color: #4c2d57;
}

.nav-link {
  color: #FFF;
}

.top-section {
  padding: 9rem 0 7rem 0;
  display: block;
  background-color: #4c2d57;
  width: 100%;
  margin: auto;
}

.top-section p {
  padding-bottom: 3rem;
}

.words {
  display: block;
  text-align: center;
  max-width: 90rem;
  margin: auto;
  padding: 0 2rem;
}

.grid-columns-2-mobile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}

.grid-columns-2, .grid-columns-4, .grid-columns-2-mobile {
  padding: 3rem;
}

.grid-columns-2 img {
  width: 100%;
  margin: auto;
}

.grid-columns-4 img, .grid-columns-2-mobile img {
  width: 100%;
}
}

/* before after arrow
___________________*/
.before-after-with-arrow {
  display: grid;
  align-items: center;
  margin: auto;
  text-align: center;
  max-width: 120rem;
  padding: 3rem;
}

.before-after-with-arrow-rows {
  text-align: center;
  max-width: 120rem;
  padding: 3rem;
}

.before-after-with-arrow-justify {
  display: grid;
  justify-content: center;
  margin: auto;
  text-align: center;
}

#arrow-right {
  padding: 1.5rem;
}

#arrow-down {
  padding: 1.8rem;
}

.uploading1 img {
  width: 100%;
}

.uploading2 img {
  width: 100%;
}

.single-image img {
  display: block;
  width: 90%;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.image-description p {
  padding: 1rem 2rem 3rem 2rem;
}

.background-assemble-header {
  background-color: #4c2d57;
  width: 100%;
  height: auto;
  padding-bottom: 1rem;
  /*background: url("../images/assemble-background.jpg");*/
  margin: 0 0 4rem 0;
  /*background-image: linear-gradient(#FDF5F3, #FFFFFF);*/
}

.case-study-screens {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  justify-content: center;
  align-items: center;
  grid-gap: 2rem;
  max-width: 90rem;
}

.case-study-screens img {
  width: 100%;
}

.design-roles {
  padding: 3rem;
  background-color: var(--nude);
  box-shadow: 0px 0px 5px 0px rgba(222, 222, 223, 1);
  border-radius: 1rem;
}

.design-role-title {
  font-weight: 400;
  color: var(--navy);
}

.competitive-analysis {
  display: grid;
  grid-gap: 5rem;
  padding: 3rem;
  margin: auto;
}

.competitive-analysis img {
  width: 50%;
  display: block;
  margin: auto;
  height: 8rem;
}

.nude2-background {
  width: 100%;
  background-color: var(--nude);
  margin: auto;
  margin-top: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 5px 0px rgba(222, 222, 223, 1);
}

li .nude2-background {
  margin-top: 2rem;
}

/*PERSONAS*/
#persona-name {
  display: block;
  justify-content: center;
}

#persona-name .persona-name {
  font-weight: 500;
  padding-top: 2rem;
  color: var(--navy);
  font-family: 'raleway', sans-serif;
}

#david {
  padding: 3rem;
  background-color: var(--nude);
  box-shadow: 0px 0px 5px 0px rgba(222, 222, 223, 1);
  border-radius: 1rem;
}

.section-personas {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 90rem;
  margin: auto;
  grid-gap: 5rem;
}

.persona-section {
  padding-top: 3em;
}

/*MEDIA QUERIES*/
@media screen and (max-width:850px) {
  .case-study-screens {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
  }

  #arrow-down {
    display: block;
    margin: auto;
  }

  #arrow-right {
    display: none;
    margin: auto;
  }

  .before-after-with-arrow {
    display: grid;
    grid-template-rows: 1fr .1fr .3fr;
    padding: 2rem;
  }

  .before-after-with-arrow-justify {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 3rem;
    padding: 2rem;
  }

  .before-after-with-arrow-justify img {
    width: 100%;
    margin: 2rem;
  }
}

@media screen and (min-width:851px) {
  .competitive-analysis {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #arrow-down {
    display: none;
    margin: auto;
  }

  #arrow-right {
    display: block;
    margin: auto;
  }

  .grid-columns-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    margin: auto;
  }

  .grid-columns-4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr .5fr;
    grid-gap: 3rem;
    margin: auto;
  }

  .before-after-with-arrow {
    display: grid;
    grid-template-columns: 1fr .1fr 1fr;
    padding: 2rem;
  }

  .before-after-with-arrow-justify {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    padding: 2rem;
  }
}

@media screen and (min-width:896px) {
  .persona-titles, .quote p {
    font-size: 2rem;
  }

  .quote p {
    line-height: 3rem;
  }

  .design-role-title {
    font-size: 2.3rem;
  }
}

@media screen and (max-width:895px) {
  .persona-titles, .quote p {
    font-size: 1.6rem;
  }

  .quote p {
    line-height: 2.55rem;
  }

  .design-role-title {
    font-size: 1.95rem;
  }
}

@media screen and (min-width:651px) {
  .design-roles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    max-width: 120rem;
    grid-gap: 2.5rem;
    text-align: center;
  }

  .deliverables {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}

@media screen and (max-width:650px) {
  .design-roles {
    display: grid;
    grid-template-rows: .5fr .5fr .5fr;
    margin: auto;
    grid-gap: 5rem;
    text-align: center;
  }

  .grid-columns-2 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2rem;
    margin: auto;
  }

  .grid-columns-4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr .5fr;
    grid-gap: 2rem;
    margin: auto;
  }
}
