/*NAVIGATION START*/
/* Sticky Navigation - Outside Grid Wrapper */

.wrapper-I-am-Emma{
  width:100%;
}
.bonbids-background {

  width: 100%;
}
.assemble-background {

  width: 100%;
}
.assemble-case-study {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100rem;
  align-items: center;
  justify-content: center;
  padding-top: 8rem;
  padding-bottom: 8rem;
  grid-gap: 5rem;
  margin: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.assemble-screen-section{
  display:block;
  height:100%;
  margin: auto;
  align-items: center;


}

.assemble-explanation-section{

  margin: auto;

}

.contact-section p {
  text-align: center;
  color: var(--black);
  padding-left: 2rem;
  padding-right: 2rem;
  line-height: 3rem;
}



.contact-section {
  padding: 6rem 0 6rem 0;
}

.contact-section-background {
  display: grid;
  /* grid-template-columns: 2fr 4fr; */
  padding: 3rem 0;
  width: 100%;
  margin: auto;
  justify-content: center;
  background-color: var(--nude);
}

.contact-btns {
  float: center;
}

.I-am-Emma {
  display: block;
  padding: 3rem 0 5rem 0;
  max-width: 80rem;
  margin: auto;
  text-align: center;
}

.I-am-Emma p {
  line-height: 1.5;
  font-size: 2.2rem;
text-align: center;
padding-right: 2rem;
padding-left: 2rem;
}

.top-section {
  width: 100%;
  background-image: linear-gradient(var(--nude), white);;
  padding: 10rem 0 5rem 0;
}

.hi {
  font-family: 'Playfair Display', serif;
  font-size: 8rem;
  color: var(--navy);


}

.work-link {
  position: relative;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
}
.work-link::after{
  position: absolute;
  content: "";
  width: 0;
height: 0;
border-style: solid;
border-width: 1rem 1rem 0 1rem;
border-color: var(--navy) transparent transparent transparent;
bottom: -2.5rem;
left: calc(50% - 1rem);
}
.see-work {
  margin-top: 16rem;
  text-align: center;
}

.see-work i {
  color: var(--navy);
  width: 5rem;
}

/*ANIMATIONS*/
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.slower {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.animated.slow {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.slower {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

.animated.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.animated.delay-2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.animated.delay-4s {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}




/*ANIMATION DONE*/

@media screen and (max-width:840px){

  .assemble-case-study {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 2rem;
    padding-right: 2rem;

  }
  .assemble-explanation-section{
    width:100%;
  }
  .contact-button {
    margin: 1rem;
    width:125%;
  }
  body, html { margin:0; padding:0; }
}
