/*NAVIGATION START*/
/* Sticky Navigation - Outside Grid Wrapper */
header {
  padding: 2rem 0.4rem;
  background-color: #FFF;
  border-top: 0.6rem solid #FDF5F3;
  /*box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.05), 0 0 0.5rem 0 rgba(0, 0, 0, 0.1);*/
  display: flex;
  align-items: center;
  z-index: 1;
  /*position: fixed;*/
  justify-content: space-between;
}

#navbar {
  background-color: #FDF5F3;
}

.logo-container {
  margin-left: 1.5rem;
  display: grid;

  justify-content: center;
  align-items: center;
  width: 12%;
  margin-left: 10rem;
}

.eg-logo {
  width: 6rem;
  margin-right: .6rem;
}




/* NAV STYLES - Hamburger Menu  */
.nav {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #4C829A;
  top: -100%;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  transform: translate(0, -100%);
}

.nav-wrapper {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
}

.menu ul {
  padding: 0;
  margin-top: 1.5rem;
}

.menu li {
  list-style-type: none;
}

.menu {
  text-align: left;
  margin-left: 2rem;
  font-weight: 700;
}

.menu a {
  position: relative;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1.7rem;
  display: inline-block;
  margin-top: 2rem;
  transition: color 0.2s ease-in-out;
  letter-spacing: 0.1rem;
}

.menu a:before {
  content: '';
  height: 0;
  position: absolute;
  width: 0.4rem;
  background-color: white;
  left: -0.5em;
  transition: all 0.2s ease-in-out;
}

.menu a:hover {
  color: white;
  font-weight: 600;
  transition: 0.3s ease all;
}


/**
Animations
**/


.nav-links {
  display: none;
  margin-right: 10rem;
}

/*@media screen and (min-width:768px) {
  header {
    padding: 1.7rem 0rem;
  }*/
.nav-link {
  padding: 2.2rem;
  text-decoration: none;
  color: #333;
  transition: 0.3s ease-in-out;
  font-weight: 300;
  text-transform: capitalize;
}

.nav-link.a {
  color: #333333;
  font-weight: 900;
}

.nav-link:active {
  color: #EE6868;
  cursor: pointer;
}

.nav-links {
  display: block;
  font-size: 1.7rem;
  font-weight: 600;
  transition: 0.1s
    /*ease-in-out*/
  ;
}

.nav-links li {
  display: inline-block;
}

.nav-link:hover {
  color: #333;
  font-weight: 300;
}

#toggle, .nav, .hamburger {
  display: none;
}

a {
  text-decoration: none;
}

.nav-links {
  margin-right: 10rem;
}


/* END NAVIGATION STYLES and MEDIA QUERIES */
.assemble-background {
  background-color: #E6F1FC;
  width: 100%;
}
.assemble-case-study {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 100rem;
  align-items: center;
  justify-content: center;
  padding-top: 8rem;
  padding-bottom: 5rem;
  grid-gap: 5rem;
  margin: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.assemble-screen-section{
  display:block;
  height:100%;
  margin: auto;
  align-items: center;


}

.assemble-explanation-section{

  margin: auto;

}

.contact-section p {
  text-align: center;
  color: #FFF;
}

.contact-section .section {
  background-color: #333;
  width: 100%;
}

.contact-section {
  padding: 8rem 0 4rem 0;
}

.contact-section-background {
  display: grid;
  /* grid-template-columns: 2fr 4fr; */
  padding: 3rem 0;
  width: 100%;
  margin: auto;
  justify-content: center;
  background-color: #333;
}
 
.contact-btns {
  float: center;
}

.I-am-Emma {
  display: block;
  padding: 3rem 0 5rem 0;
  max-width: 80rem;
  margin: auto;
  text-align: center;
}

.I-am-Emma p {
  line-height: 1.5;
  font-size: 2.2rem;
text-align: center;
padding-right: 2rem;
padding-left: 2rem;
}

.top-section {
  width: 100%;
  background-color: #FFF;
  padding: 10rem 0 5rem 0;
}

.hi {
  font-family: 'Playfair Display', serif;
  font-size: 8rem;
  color: #333333;

}

.work-link {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
}

.see-work {
  margin-top: 16rem;
  text-align: center;
}

.see-work i {
  color: #EE7676;
  width: 5rem;
}

/*ANIMATIONS*/
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.slower {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.animated.slow {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.slower {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

.animated.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.animated.delay-2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.animated.delay-4s {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.bounce-work {
  -webkit-animation-name: bounce2;
  animation-name: bounce2;
  z-index: 1;
  animation-timing-function: ease-in-out;
  transition-duration: 4s;
  -moz-animation: bounce2 6s infinite;
  -webkit-animation: bounce2 6s infinite;
  animation: bounce2 6s infinite;
}
.top-section img{
  padding-bottom:4rem;
}

/*ANIMATION DONE*/

@media screen and (max-width:840px){

  .assemble-case-study {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 2rem;
    padding-right: 2rem;

  }
  .assemble-explanation-section{
    width:100%;
  }
  .contact-button {
    margin: 1rem;
    width:125%;
  }
}
