
html {
  font-size: 10px;
}
/* Typography */
project-name {
 color: #333333;
 font-family: 'Playfair Display', serif;
 font-size: 6em;
 line-height: 1rem;
}

h1 {
 color: #333333;
 font-family: 'nunito', sans-serif;
 font-size: 3.7rem;
 font-weight: 300;
 text-transform: uppercase;
 letter-spacing: .06rem;
 padding:2rem 0 0 0;

}

h3 {
 color: #579C9E;
 font-family: 'Nunito', sans-serif;
 font-size: 2rem;
 text-transform: uppercase;
 font-weight: 300;
 padding: 0 0 .7rem 0;

 letter-spacing: .08rem;
}

h2 {
 color: #333333;
 font-family: 'Playfair Display', serif;
 font-size: 3.5rem;
 line-height: normal;
 letter-spacing: .08rem;
}

h4 {
  color: #EE7676;
  /*
 color: #EE6868;*/
 font-size: 3rem;
 line-height: 2rem;
}

h2, h3, h4 {
 /*max-width: 300px;*/
 margin: 0 0 0 0;
}

p, ul, ol {
 color: #333333;
 font-family: 'Nunito', sans-serif;
font-size: 1.8rem;
 font-weight: 300;
 max-width: 800px;
 line-height: 3rem;
 letter-spacing: .06rem;

}
/* Buttons */

a {
  text-decoration: none;
}

.button {
  display: inline-block;
  cursor: pointer;
  width: 75%;
  color: #FFF;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  white-space: nowrap;
  background-color: #EE7676;
  border: 0.2rem solid #EE7676;
  border-radius: 4rem;
  /*box-shadow: 0 .2rem 1rem rgba(0, 0, 0, 0.16), 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1);*/
  transition: 0.3s ease-in-out;
  margin-right: 2rem;
  font-family: 'nunito', sans-serif;
  letter-spacing: .08rem;
}


.button:hover {
  color: #FFF;
  background-color: #EE7676;
  transition: 0.3s ease-in-out;
}

.contact-button {
  display: inline-block;
  cursor: pointer;
  width: 70%;
  color: #F2C57C;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  white-space: nowrap;
  background-color: transparent;
  border: 0.2rem solid #F2C57C;
  border-radius: 4rem;
  /*box-shadow: 0 .2rem 1rem rgba(0, 0, 0, 0.16), 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1);*/
  transition: 0.3s ease-in-out;
  margin: 1rem;
  font-family: 'nunito', sans-serif;
  letter-spacing: .08rem;
}

.contact-button:hover {
  background-color: #F2C57C;
  color: #FFF;
  transition: 0.5s ease-in-out;
  border-color: #F2C57C;
  box-shadow: 0 .2rem 1rem rgba(0, 0, 0, 0.16), 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1);
}
.center-btns{
  text-align: center;

  padding-bottom: 2rem;
}





.button, .contact-button {
  padding: 1.5rem 0;
  font-size: 1.8rem;
}


.button {
  background-color: transparent;
color: #EE7676;
  box-shadow: none;
}



/* NO MEDIA QUERIES FOR TABLET */




footer {
  background-color: #EE7676;
  grid-column: 1 / -1;
  margin: 0;
  padding: 4rem;
  text-align: center;
}

footer p {
  color: #FFF;
}

.social-links a {
  padding: 0 0.6rem;
  color: #FFF;
  transition: 0.3s ease-in-out;
}

.social-links a:hover {
  color: #0015D1;
  transition: 0.3s ease-in-out;
}

footer p {
  font-size: 1.7rem
}


@media screen and (min-width:1224px)

{
.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10rem;
}
}
/* End Footer */



@media screen and (min-width:530px){
  .contact-button {
    margin: 1rem;
    width:45%;
  }

}

@media screen and (max-width:750px){
  .contact-section p {
  line-height:4rem;
  }

}
