html {
  font-size: 10px;
}
/*GLOBAL COLORS*/
:root {
  --navy: #2E5266;
  --black: #383A3F;
--gold: #D28C0F;
--nude: #FBF5F1;

}
/* Typography */
project-name {
  color: var(--black);
  font-family: 'Playfair Display', serif;
  font-size: 7em;
  line-height: 1rem;
}

h1 {
  color: var(--black);
  font-family: 'nunito', sans-serif;
  font-size: 4.6rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: .06rem;
  padding: 2rem 0 0 0;
}

h3 {
  color: var(--navy);
  font-family: 'nunito', sans-serif;
  font-size: 2.3rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: .08rem;
  line-height: 1.4;
}

h2 {
  color: var(--black);
  font-family: 'Playfair Display', serif;
  font-size: 4.4rem;
  line-height: normal;
  letter-spacing: .06rem;
}

h4 {
  color: var(--gold);
  font-size: 5rem;
  line-height: 2rem;
padding-bottom: .7rem;
letter-spacing: .7rem;
}

h2, h3, h4 {
  /*max-width: 300px;*/
  margin: 0 0 0 0;
}

p{
  color: var(--black);
  font-family: 'nunito', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  max-width: 800px;
  line-height: 3.4rem;
  letter-spacing: .02rem;
  margin: 1.5rem 0 1.5rem 0;
}
ul, ol {
  color: var(--black);
  font-family: 'nunito', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  max-width: 800px;
  line-height: 2.85rem;
  letter-spacing: .06rem;
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 5rem;
}
li{
  margin-top:1rem;
}

.img-caption {
  color: var(--black);
  font-family: 'nunito', sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 3rem;
  letter-spacing: .06rem;
  text-align: center;
  padding-top: 1.2rem;
}

.section-wide {
  display: grid;
  padding-top: 3rem;
  max-width: 100rem;
  margin: auto;
  align-items: center;

}

/* Buttons */
a {
  text-decoration: none;
}
.image-description p{
  font-size:1.8rem;
  weight:600;
  max-width: 100rem;
  font-style: italic;
  margin: auto;
  text-align: center;
  color: var(--black)
}

.button {
  display: inline-block;
  cursor: pointer;
  width: 30rem;
  color: #FFF;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  white-space: nowrap;
  background-color: var(--gold);
  border: 0.2rem solid var(--gold);
  border-radius: 4rem;
  /*box-shadow: 0 .2rem 1rem rgba(0, 0, 0, 0.16), 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1);*/
  transition: .7s ease-in-out;
  margin-right: 2rem;
  font-family: 'nunito', sans-serif;
  letter-spacing: .08rem;
}

.button:hover {
  color: #FFF;
  background-color: var(--gold);
  transition: .7s ease-in-out;
}

.contact-button {
  display: inline-block;
  cursor: pointer;
  width: 70%;
  color: var(--gold);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  white-space: nowrap;
  background-color: transparent;
  border: 0.2rem solid var(--gold);
  border-radius: 4rem;
  /*box-shadow: 0 .2rem 1rem rgba(0, 0, 0, 0.16), 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1);*/
  transition: .7s ease-in-out;
  margin: 1rem;
  font-family: 'nunito', sans-serif;
  letter-spacing: .08rem;
}

.contact-button:hover {
  background-color: var(--gold);
  color: #FFF;
  transition: 0.5s ease-in-out;
  border-color: var(--gold);
  box-shadow: 0 .2rem 1rem rgba(0, 0, 0, 0.16), 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1);
}

.center-btns {
  text-align: center;
  padding-bottom: 2rem;
}

.button, .contact-button {
  padding: 1.5rem 0;
  font-size: 2rem;
}

.button {
  background-color: transparent;
  color: var(--gold);
  box-shadow: none;
  margin: 1rem;
}

/* NO MEDIA QUERIES FOR TABLET */
footer {
  background-color: var(--navy);
  grid-column: 1 / -1;
  margin: 0;
  padding: 4rem;
  text-align: center;
}

footer p {
  color: #FFF;
}

.social-links a {
  padding: 0 0.6rem;
  color: #FFF;
  transition: 0.3s ease-in-out;
}

.social-links a:hover {
  color: var(--gold);
  transition: 0.3s ease-in-out;
}

footer p {
  font-size: 1.7rem
}

@media screen and (min-width:800px) {
  .footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10rem;
  }
}

/* End Footer */
@media screen and (min-width:530px) {
  .contact-button {
    margin: 1rem;
    width: 30rem;
  }
}
