html {
  font-size: 10px;
}

/*GLOBAL COLORS*/
:root {
  --navy: #2E5266;
  --black: #1A1B1D;
--gold: #EA9A10;
--nude: #FFF9F7;

}
#body {
 margin: 0 2rem 0 2rem;
  font-family: 'nunito', sans-serif;
}
#body li{
  margin-left: 2rem;
}
.link{
  color: var(--black);
  font-weight: 400;
  text-decoration: underline;
transition: 0.3s ease-in-out;
}
.link:hover{
  color: var(--gold);
}

/* Typography */
project-name {
  color: var(--black);
  font-family: 'Playfair Display', serif;
  font-size: 7em;
  line-height: 1rem;
}

h1 {
  color: var(--black);
  font-family: 'nunito', sans-serif;
  font-size: 4.6rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: .06rem;
  line-height: normal;
  padding: 2rem 0 0rem 0;
  border-bottom: .2rem solid var(--gold);
  text-align: center;
}

.titles {
  display: block;
  color: var(--black);
  font-family: 'nunito', sans-serif;
  max-width: 120rem;
  margin: auto;
  margin-top: 10rem;
}

h3 {
  color: var(--navy);
  font-family: 'nunito', sans-serif;
  font-size: 2.3rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: .08rem;
  line-height: 1.4;

}

h2 {
  color: var(--black);
  font-family: 'Playfair Display', serif;
  font-size: 4.4rem;
  line-height: 5rem;
}

h4 {
  color: var(--gold);
  font-size: 5rem;
  line-height: 2rem;
padding-bottom: 1.1rem;
letter-spacing: .7rem;
}

h2, h3, h4 {
  /*max-width: 300px;*/
  margin: 0 0 0 0;
}

p {
  color: var(--black);
  font-family: 'nunito', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.7rem;
  letter-spacing: .02rem;
  margin: auto;
  padding: 1.5rem 0 1rem 0;
}
ul, ol {
  color: var(--black);
  font-family: 'nunito', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  max-width: 900rem;
  line-height: 2.85rem;
  letter-spacing: .06rem;
  list-style-position: outside;
  padding-left: 1rem;

}
ul{
  list-style-type: disc;
}
ol{
  list-style-type: decimal;
}

.img-caption {
  color: var(--black);
  font-family: 'nunito', sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 3rem;
  letter-spacing: .06rem;
  text-align: center;
  padding-top: 1.2rem;
}
.section {

  padding-top:8rem;
  max-width: 80rem;
  margin:auto;
  /*justify-content: center;*/
}

.section-padding-change {
  display: grid;
  padding-top:3.5rem;
  max-width: 90rem;
  margin:auto;
  /*justify-content: center;*/
}


/* Buttons */
a {
  text-decoration: none;
}
.image-description p{
  font-size:1.8rem;
  weight:400;
  max-width: 120rem;
  font-style: italic;
  margin: auto;
  padding:1rem 2rem 0 2rem;
  text-align: center;
  color: var(--black)
}

.button {
  display: inline-block;
  cursor: pointer;
  width: 34.5rem;
  color: #FFF;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  white-space: nowrap;
  background-color: var(--gold);
  border: 0.2rem solid var(--gold);
  border-radius: 3rem;
  /*box-shadow: 0 .2rem 1rem rgba(0, 0, 0, 0.16), 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1);*/
  transition: .7s ease-in-out;
  margin-right: 2rem;
  font-family: 'nunito', sans-serif;
  letter-spacing: .08rem;
  align-items: center;
  padding:2rem;
}

.button:hover {
  color: #FFF;
  background-color: var(--gold);
  transition: .7s ease-in-out;
}

.contact-button {
  display: inline-block;
  cursor: pointer;
  width: 34.5rem;
  color: var(--gold);
  text-align: center;
  font-weight: 500;
  white-space: nowrap;
  background-color: transparent;
  border: 0.2rem solid var(--gold);
  border-radius: 3rem;
  /*box-shadow: 0 .2rem 1rem rgba(0, 0, 0, 0.16), 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1);*/
  transition: .7s ease-in-out;
  margin: 1rem;
  font-family: 'nunito', sans-serif;
  letter-spacing: .08rem;
}

.contact-button:hover {
  background-color: var(--gold);
  color: #FFF;
  transition: 0.5s ease-in-out;
  border-color: var(--gold);
  box-shadow: 0 .2rem 1rem rgba(0, 0, 0, 0.16), 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1);
}

.center-btns {
  text-align: center;
  padding-bottom: 8rem;
}

.button, .contact-button {
  padding: 2rem 0;
  font-size: 2rem;
}

.button {
  background-color: transparent;
  color: var(--gold);
  box-shadow: none;
  margin: 2rem 0 1rem 0;
}

/* NO MEDIA QUERIES FOR TABLET */
footer {
  background-color: var(--navy);
  grid-column: 1 / -1;
  margin: 0;
  padding: 4rem;
  text-align: center;

}

footer p {
  color: #FFF;
}

.social-links a {
  padding: 0 0.6rem;
  color: #FFF;
  transition: 0.3s ease-in-out;
}

.social-links a:hover {
  color: var(--gold);
  transition: 0.3s ease-in-out;
}

footer p {
  font-size: 1.7rem
}

@media screen and (max-width:909px) {
  .nude2-background{
    margin-right:2rem;
    margin-left: 2rem;
  }
}
@media screen and (min-width:800px) {
  .footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10rem;
  }

  @media screen and (max-width:425px){
    .button{
      width:100%;
    }
  }
}


/* End Footer */
