
.logo-container {
  margin-left: 1.5rem;
  display: grid;

  justify-content: center;
  align-items: center;
  width: 12%;
  margin-left: 10rem;
}

.eg-logo {
  margin-right: .6rem;
}

header {
  padding: 2rem 0.4rem 0 .4rem;
  background-color: var(--nude);
  /*border-bottom: 0.1rem solid var(--navy);*/
  /*box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.05), 0 0 0.5rem 0 rgba(0, 0, 0, 0.1);*/
  display: flex;
  align-items: center;
  z-index: 1;
  /*position: fixed;*/
  justify-content: space-between;
}


/* NAV STYLES - Hamburger Menu  */
.nav {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #4C829A;
  top: -100%;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  transform: translate(0, -100%);
}

.nav-wrapper {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
}

.menu ul {
  padding: 0;
  margin-top: 1.5rem;
}

.menu li {
  list-style-type: none;
}

.menu {
  text-align: left;
  margin-left: 2rem;
  font-weight: 700;
}

.menu a {
  position: relative;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1.7rem;
  display: inline-block;
  margin-top: 2rem;
  transition: color 0.2s ease-in-out;
  letter-spacing: 0.1rem;
}

.menu a:before {
  content: '';
  height: 0;
  position: absolute;
  width: 0.4rem;
  background-color: white;
  left: -0.5em;
  transition: all 0.2s ease-in-out;
}

.menu a:hover {
  color: white;
  font-weight: 600;
  transition: 0.3s ease all;
}


/**
Animations
**/


.nav-links {
  display: none;
  margin-right: 10rem;
}

/*@media screen and (min-width:768px) {
  header {
    padding: 1.7rem 0rem;
  }*/
.nav-link {
  padding: 2.2rem;
  text-decoration: none;
  color: var(--navy);
  transition: 0.3s ease-in-out;
  font-size: 1.8rem;
}

.nav-link.a {
  color: var(--black);
  font-weight: 900;
}

.nav-link:active {
  color: var(--gold);
  cursor: pointer;
}

.nav-links {
  display: block;
  font-size: 1.7rem;
  font-weight: 600;
  transition: 0.1s
    /*ease-in-out*/
  ;
}

.nav-links li {
  display: inline-block;
}

.nav-link:hover {
  color: var(--gold);
  font-weight: 400;
}

#toggle, .nav, .hamburger {
  display: none;
}

a {
  text-decoration: none;
}

.nav-links {
  margin-right: 10rem;
}
@media screen and (max-width:650px) {
  header{
flex-direction: column;
}
}

/* END NAVIGATION STYLES and MEDIA QUERIES */
