* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  /* margin: 0 auto; */
  background-color: #FFFFFF;
  font-family: 'Nunito', sans-serif;
}

/* Typography */


h3 {
  color: #4C829A;
  font-family: 'Nunito', sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 100;
}

h2 {
  color: #333333;
  font-family: 'Playfair Display', serif;
  font-size: 2.6rem;
  line-height: normal;
}

h4 {
  color: #EE6868;
  font-size: 3rem;

}


h2, h3, h4 {
  max-width: 300px;

}
p, ul, ol{
  color: #333333;
  font-family: 'Nunito', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  max-width: 800px;
  line-height: 3rem;
}

/*containers*/
.container {
  background-color: #FFFFFF;
  height: 100vh;
  margin: 0 auto;
  width: auto;
}

.flows {
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-gap: 30px;
    padding: 5rem 10rem;
    max-width: 1200px;
    margin: auto;
