* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  /* margin: 0 auto; */
  background-color: #FFFFFF;
  font-family: 'Nunito', sans-serif;
}


/* Typography */

project-name{
  color: #333333;
  font-family: 'Playfair Display', serif;
  font-size: 5em;
  line-height: 1rem;
}

h1 {
  color: #333333;
  font-family: 'nunito', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
}
h3 {
  color: #4C829A;
  font-family: 'Nunito', sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 100;
  padding: 0 0 .7rem 0 ;
}

h2 {
  color: #333333;
  font-family: 'Playfair Display', serif;
  font-size: 2.6rem;
  line-height: normal;
}

h4 {
  color: #EE6868;
  font-size: 3rem;
  line-height: 2rem;

}


h2, h3, h4 {
  /*max-width: 300px;*/
  margin: 0 0 0 0;
}
p, ul, ol{
  color: #333333;
  font-family: 'Nunito', sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  max-width: 800px;
  line-height: 3rem;

}

/*top nav

#main-nav {
  list-style: none;
  float: right;
  padding-bottom: 10rem;
}
.nav-link {
  color: #333333;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  color: black;
  font-size: 2rem;
 }

*/

/*containers*/
.container {
  /*height: 100vh;*/
  margin: 0 auto;
  width: 90%;
}

.section {
display: grid;
/*grid-template-columns: 2fr 4fr;*/
padding: 5rem 0;
max-width: 1200px;
margin: auto;
justify-content: center;
}

.header {
  display: block;
  float: left;
}

.paragraph {
  display: block;
  float: left;

}
.titles {
display: block;
color: #333333;
font-family: 'nunito', sans-serif;
padding: 0 0 0 0;

}


.top {
display: grid;
grid-template-columns: 2fr 4fr;
grid-gap: 2rem;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10rem;
  /*justify-content: center;*/


}
.gradient{
  background-image: linear-gradient(#FDF5F3, #FFFFFF);
}

.words {
  display: block;
  float: left;
  max-width: 800px;

}
.surveys {
  display: block;
  float: left;
  max-width: 800px;

}

#personas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;

  }

#david {
  display: block;
  float: left;
padding: 0 2rem;
}

#sara {
  display: block;
  float: right;
  padding: 0 4rem 0 4rem;
}

.persona-titles {
  color: #333333;
  font-family: 'Nunito', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1rem;
  text-transform: uppercase;
}
