body {
  /* margin: 0 auto; */
  background-color: #FFFFFF;
  font-family: 'Nunito', sans-serif;
}

/* Typography */


h3 {
  color: #4C829A;
  font-family: 'Nunito', sans-serif;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 100;
}

h2 {
  color: #333333;
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem;
  line-height: normal;
}

h4 {
  color: #EE6868;
  font-size: 1.8rem;
  line-height: 1.5rem;
}

p, ul, ol{
  color: #333333;
  font-family: 'Nunito', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  max-width: 800px;
  line-height: 2.2rem;
}

/*headers on left
.header-container {
  line-height: 1rem;
  max-width: 305px;
}

Case Study Body

.overview {
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-gap: 30px;
  padding: 10rem 10rem;
  max-width: 1200px;
  margin: auto;
}

.overview h2 {
  font-size: 4.1rem;
  font-weight: bold;
  line-height: 1.5;
  padding-top: 2rem;
  position: relative;
}

.overview h2::before {
  background-color: #fff01c;
  content: "";
  display: block;
  height: 7px;
  left: 0;
  width: 130px;
  position: absolute;
  top: 1rem;
}

.overview  p {
  font-size: 1.8rem;
  line-height: 1.5;
  padding-top: 5.3rem;
}*/


.left-column {
  display: block;
  float: left;
  width: 320px;
}

.right-column {
  display: block;
  float: right;
  width: 800px;
}
